{{ template "head.tmpl" .User }}
<form action="/account/change-password" method="post">
  {{ .csrfField }}
  <p><label>Current password: <input type="password" name="old-password" required /></label></p>
  <p><label>New password: <input type="password" name="new-password" required /></label></p>
  <p><label>Confirm new password: <input type="password" name="new-password-confirm" required /></label></p>
  <p><button type="submit">Delete account</button></p>
</form>
{{ template "foot.tmpl" }}
