<svg viewBox="0 0 {{ .W }} {{ .H }}" version="1.1" width="{{ .W }}" height="{{ .H }}" class="chart">
  <defs>
    <linearGradient id="bg" gradientTransform="translate(0, 1) rotate(270)">
      <stop offset="0%" stop-color="var(--border)" /><!--bottom-->
      <stop offset="50%" stop-color="hsl(var(--theme-h), 40%, 84%)" /><!--mid-->
      <stop offset="100%" stop-color="var(--theme)" /><!--top-->
    </linearGradient>
    <mask id="data" x="0" y="0" width="{{ .W }}" height="{{ .H }}" >
      <g transform="scale(1, -1) translate(0, -{{ .H }})">
        <polyline
          class="line"
          fill="none"
          points="{{ range .Data.Scale .W .H true }}{{ .X }},{{ .Y }} {{ end }}"
          stroke="var(--theme)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        />
      </g>
    </mask>
  </defs>
  <rect x="0" y="-1" width="{{ .W }}" height="{{ .H }}" fill="url('#bg')" mask="url('#data')" />
  </g>
</svg>
