{{ template "head.tmpl" .User }}

<p>30-day traffic summary: {{ .Traffic.Pageviews }} page views by {{ .Traffic.Visitors }} people.</p>
<p>
    {{ range .DailyTraffic }}
        {{ .Visitors }}/{{ .Pageviews }};
    {{ end }}
</p>

<p>30-day page summary:</p>
<ul>
    {{ $host := .Host }}
    {{ range $path, $traffic := .PathsTraffic }}
        <li><strong><a href="/domains/{{ $host }}{{ $path }}">{{ $path }}</a></strong>:
        {{ $traffic.Visitors }}/{{ $traffic.Pageviews }}</li>
    {{ end }}
</ul>

Add the following snippet before the closing <code>&lt;/body&gt;</code> tag to count traffic at {{ .Host }}.

<pre><code>&lt;img
    alt="beep-beep traffic counter"
    aria-hidden="true"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://visit.beep-beep.net/<strong><var>{{ .Key }}</var></strong>.gif"
    style="position: absolute; left:-9999em" /&gt;
</pre></code>

{{ template "foot.tmpl" }}
