{{ range . }}
    <div class="domain">
        <h3><a href="/host/{{ .Host }}">{{ .Host }}</a></h3>
        <p>{{ .Key }}</p>
    </div>
{{ else }}
    <p>no domains.</p>
{{ end }}
<p><a href="/new-domain">add domain</a></p>
