<footer>&copy; 2020 beep-beep.net. <a href="/privacy" title="Privacy policy">privacy</a>. <a href="/contact" title="Contact us">contact</a>.</footer>
<img
    alt="beep-beep traffic counter"
    aria-hidden="true"
    referrerpolicy="no-referrer-when-downgrade"
    src="http://localhost:3000/155a6b9790b90034.gif"
    style="position: absolute; left:-9999em" />
</body>
</html>
