<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>beep beep! traffic counter, privacy-first</title>
</head>
<body>
  <header>
    <h1><a href="/">beep beep</a></h1>
    {{ if . }}
      {{ .Email }} <a href="/logout">log out</a>
    {{ else }}
      <a href="/login">log in</a>
    {{ end }}
  </header>
