{{ template "head.tmpl" }}
<form action="/login{{ if .Next }}?next={{ .Next }}{{end}}" method="post">
  {{ .csrfField }}
  <p><input type="email" name="email" /></p>
  <p><input type="password" name="password" /></p>
  <p><button type="submit">Log in</button></p>
</form>
{{ template "foot.tmpl" }}
