<form action="/signup" method="post">
  {{ .csrfField }}
  <div class="flex flex-wrap">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="you@example.com" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="••••••••" required />
    </div>
    <div class="align-self-end">
      <button class="primary" type="submit">Sign up / Log in</button>
    </div>
  </div>
</form>
